$navbar-default-bg: #000;
$white-color: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

/*****************************************/
/*=======__navigtion.html.erb+++++++=====*/
/*****************************************/
nav.navbar-default {
  #logo {
    float: left;
    font-size: 1.7em;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

}
/*****************************************/
/*===========+++home.html.erb+++++++=====*/
/*****************************************/
div.jumbotron {
  background-image: url("finalfan.jpg");
  background-size: cover;
  height: 550px;

  h1 {
   color: $white-color;
   margin-bottom: 30px;
   letter-spacing: -1px;
   font-weight: bold;
  }
  a{
    font-size: 1.7em;
    background-color: black;
  }
}

/*****************************************/
/*===========_footer.html.erb+++++++=====*/
/*****************************************/
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
small {
  float: left;
  a:hover {
    color: #222;
  }
}
ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 1em;
  }
}
}

/*****************************************/
/*=========+++++show.html.erb+++++++=====*/
/*****************************************/

h4.text-center.description {
  margin-top: 0;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
